<!--esto viene de la pagina headercomponent es el selector y ayuda a que se vea el header que incluimos en el componiente-->
<app-header></app-header>
<!--esta parte viende del portafoliocomponent de la carpeta pages-->
<section class="ae-container-fluid rk-main"><!--esto se quito de la pagina portafoliocomponent por que es una clase que abarca para todas las paginas del proyecto-->
<app-portafolio></app-portafolio>
</section>
<!--esta parte viene del footercomponet de la carpeta shared-->
<app-footer></app-footer>